* {
  margin:0;
  padding:0;
  font-family: 'Comic Sans MS', cursive;
  background-color: #084b83;
}

#container {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 16px;
    background-color:#42bfdd;
    
}

h1 {
    text-align: center;
    padding: 50px 100px;
    background-color:#bbe6e4;
    margin: 0;
    font-size: 60px;
    
}

h2 {
  font-size: 45px;
  background-color: white;
}

.settings {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 24px;
    border: 8px solid #bbe6e4;
    border-radius: 10px;
    background-color: white;
    padding: 50px;
    
}

button {
    margin: 10px 16px;
    font-size: 18px;
    padding: 2px 36px;
    background-color: white;
    font-weight: bolder;
}
  
  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 405px;
    border: solid #bbe6e4 8px;
    border-radius: 10px;
    background-color: white;

  }
  
  .box>div {
    border: 1px solid black;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    background-color: white;
  }
  
  .box>div:nth-child(16n + 1) {
    width: 100%;
    border: 0;
    height: 0;
  }